/*
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/led/led.h>
 
#define RTOG RGB_TOG
#define RON  RGB_ON
#define ROFF RGB_OFF
#define REFF RGB_EFF
#define RBRI RGB_BRI
#define RBRD RGB_BRD
#define RSAI RGB_SAI
#define RSAD RGB_SAD
#define RSPI RGB_SPI
#define RSPD RGB_SPD
#define REFF RGB_EFF
#define REFR RGB_EFR
#define RHUI RGB_HUI
#define RHUD RGB_HUD

#define BT0 &bt BT_SEL 0
#define BT1 &bt BT_SEL 1
#define BT2 &bt BT_SEL 2
#define BT3 &bt BT_SEL 3
#define BT4 &bt BT_SEL 4
#define BT5 &bt BT_SEL 5
#define WIN 0
#define LEF 1
#define RIG 2
#define TRI 3
#define NUM 4
#define LED 5
#define LBsp 6 
#define LMin 7
#define LFsl 8


&led_strip {
    chain-length = <35>;
};


// My LED pin is P0.06
// See https://nicekeyboards.com/docs/nice-nano/pinout-schematic/
&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };
 
    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi3 {
  compatible = "nordic,nrf-spim";
  status = "okay";

  pinctrl-0 = <&spi3_default>;
  pinctrl-1 = <&spi3_sleep>;
  pinctrl-names = "default", "sleep";

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";

    // SPI //
    reg = <0>; // ignored, but necessary for SPI bindings //
    spi-max-frequency = <4000000>;

    // WS2812 //
    chain-length = <35>; // number of LEDs //
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN
                          LED_COLOR_ID_RED
                          LED_COLOR_ID_BLUE>;
  };
};



&sk {
    release-after-ms = <2000>;
    quick-release;
    };


// See https://github.com/rastasheep/zmk-config/blob/master/config/lily58.keymap
#define HYP LS(LC(LA(LGUI)))
#define HYPER(key) LS(LC(LA(LG(key))))
/ {

    behaviors {
    	//Hold Taps
        ht: hold_tap { 
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
        htl: hold_tap_layers { 
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&tog>;
        };
	
	//Tap Dances
	LSpace: spc_ent_left {
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SPACE>, <&kp ENTER>;  
	};
	RSpace: spc_ent_right {
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SPACE>, <&kp ENTER>;  
	};
	EscL0: Esctab_ent {
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&to 0>;
	};
	L_CAG_TD: CtrAltGui_L_TD{
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LCTRL>, <&kp LALT>,  <&kp LGUI>;
	};
	R_AGC_TD: AltGuiCtr_R_TD{
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RALT>, <&kp RGUI>, <&kp RCTRL>;
	};
	TD_COMMA: comma_semi_tapdance{
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp SEMI>;
	};
	TD_LT: LessThan_LParenthesis_tapdance{
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp N9>;
	};
	TD_DOT: dot_colon_tapdance{
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp COLON>;
	};
	TD_GT: GreaterThan_RParenthesis_tapdance{
	    compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp N0>;
	};

	

	//Morphs
	MM_DOT: DotGT_ColonRParen_Modmorph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&TD_DOT>, <&TD_GT>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
            keep-mods = <(MOD_LSFT | MOD_RSFT)>;
	};
	MM_COMMA: CommaLT_SemiLParenthesis_Modmorph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&TD_COMMA>, <&TD_LT>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
            keep-mods = <(MOD_LSFT | MOD_RSFT)>;
	};

    };  //end behaviours
    


    macros {
        XL1: excel_decolour {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp H &kp H &kp N>
                , <&macro_release &kp LALT>;
        }; 
	XL2: excel_time {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp SEMI>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>;
        };
        XL3: excel_date {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp SEMI>
                , <&macro_release &kp LCTRL>;
        };
        XL4: excel_general_format {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp GRAVE>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>;
        };
	M_word_del: BDelWord{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp DELETE>
		, <&macro_release &kp LCTRL>
		;
	};
	M_word_bsp: BSpcWord{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BACKSPACE>
		, <&macro_release &kp LCTRL>
		;
	};
	M_redo: RedoLast{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp Y>
		, <&macro_release &kp LCTRL>
		;
	};
	M_undo: UndoLast{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp Z>
		, <&macro_release &kp LCTRL>
		;
	};
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <TRI>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_del {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp DEL>;
        };
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp BSPC>;
        };
        combo_shift_left{
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LSHFT>;
        };
        combo_shift_right{
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp RSHFT>;
        };
        combo_ctrl_left{
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp LCTRL>;
        };
        combo_ctrl_right{
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp RCTRL>;
        };
        combo_alt_left{
            timeout-ms = <50>;
            key-positions = <2 4>;
            bindings = <&kp LALT>;
        };
        combo_alt_right{
            timeout-ms = <50>;
            key-positions = <7 9>;
            bindings = <&kp RALT>;
        };
        combo_gui_left{
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp LGUI>;
        };
        combo_gui_right{
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp RGUI>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤     Q     │     W     │    E      │     R     │     T     │     │     Y     │     U     │     I     │     O     │     P     ├───────────╮
  &EscL0        &kp   Q     &kp   W     &kp  E      &kp   R     &kp   T           &kp   Y     &kp   U     &kp   I     &kp   O     &kp P       &lt LBsp MINUS
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤    -  (l) │
//├─────────────┤     A     │     S     │    D      │     F     │     G     │     │     H     │     J     │     K     │     L     │     ; (l) ├───────────┤
  &mt LSHFT TAB &kp   A     &kp   S     &kp  D      &kp   F     &kp   G           &kp   H     &kp   J     &kp   K     &kp   L     &lt LMin SEMI &lt RIG SQT
//│   LSHIFT    ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤ ' / Right │
//╰─────────────┤     Z     │     X     │    C      │     V     │     B     │     │     N     │     M     │    , <    │    . >   <│   / ? (l) ├───────────╯
                &mt LSHIFT Z &mt LCTRL X &mt LALT C &mt LGUI V  &kp   B           &kp   N     &mt RGUI M  &mt RALT COMMA &mt RCTRL DOT &mt RSHFT FSLH
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │           │           │           │           │
                            &key_repeat &mo LEF     &kp ENTER   &kp TAB           &R_AGC_TD   &kp SPACE   &mo RIG    &kp N0
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//                                                  ╰───────────╯                             ╰───────────╯
		>;
	};


        left_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤     !     │     @     │     #     │     $     │     %     │     │     ^     │     &     │     *     │      (    │    )      ├───────────╮
  &EscL0        &kp EXCL    &kp  AT     &kp  HASH   &kp  DLLR   &kp  PRCNT        &kp CARET   &kp  AMPS   &kp STAR    &kp  LPAR   &kp  RPAR   &kp PLUS
//│ Esc + LayEsc├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//├─────────────┤     1     │     2     │     3     │     4     │     5     │     │     6     │     7     │     8     │      9    │    0      ├───────────┤
  &studio_unlock &kp N1     &kp N2      &kp  N3     &kp  N4     &kp  N5           &kp  N6     &kp   N7    &kp   N8    &kp   N9    &kp  N0     &none
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//╰─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╯
                &kp LSHIFT  &kp LCTRL   &kp LALT    &kp LGUI    &bt BT_CLR        &none       &kp RGUI    &kp  RALT   &kp RCTRL   &kp RSHFT
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │           │           │           │           │
                            &kp N0      &trans      &kp LSHFT   &L_CAG_TD         &kp RSHFT   &kp RSHFT   &trans      &kp N0 
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//          	                                      ╰───────────╯                             ╰───────────╯
		>;
	};

        right_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤     F2    │    F3     │     F4    │    F5     │     F6    │     │    F7     │    F8     │     F9    │    F10    │    F11    ├───────────╮
  &kp  F1       &kp   F2    &kp  F3     &kp   F4    &kp  F5     &kp   F6          &kp  F7     &kp  F8     &kp   F9    &kp  F10    &kp  F11    &kp  F12
//│    F1       ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤    F12
//├─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────┤
  &mt LSHFT TAB &none       &none       &none       &none       &none             &none       &none       &none       &none       &none       &none
//│   LSHIFT    ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//╰─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╯
                &kp LSHIFT  &kp LCTRL   &kp LALT    &kp LGUI    &none             &none       &kp RGUI    &kp  RALT   &kp RCTRL   &kp RSHFT
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │   Mods    │     │   Mods    │           │           │           │
                            &kp N0      &trans      &kp LSHFT   &L_CAG_TD         &R_AGC_TD   &kp TAB     &trans      &kp N0
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//          	                                      ╰───────────╯                             ╰───────────╯
		>;
	};


        tri_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤    F1     │    F2     │    F3     │    F4     │           │     │ PROFILE 0 │ PROFILE 2 │ PROFILE 4 │INC BRIGHT │ VOL UP    ├───────────╮
  &EscL0      &kp  F1     &kp  F2     &kp  F3     &kp  F4     &rgb_ug RGB_TOG        BT0         BT2         BT4    &kp C_BRI_UP &kp C_VOL_UP &kp C_NEXT
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤ NEXTSONG  │
//├─────────────┤    F5     │    F6     │    F7     │    F8     │           │     │ PROFILE 1 │ PROFILE 3 │ TOGGLEOUT │ DEC BRIGHT │ VOL DOWN ├───────────┤
  &mt LSHFT TAB &kp  F5   &kp  F6     &kp  F7     &kp  F8     &rgb_ug RGB_EFF        BT1         BT3    &out OUT_TOG &kp C_BRI_DEC &kp C_VOL_DN &kp C_PP
//│   LSHIFT    ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤ PAUSEMUSIC│
//╰─────────────┤    F9     │    F10    │    F11    │    F12    │           │     │ CLEAR BT  │           │           │  VOL MUTE │  PREVSONG ├───────────╯
                &kp  F9     &kp  F10    &kp  F11    &kp  F12    &rgb_ug RGB_BRI   &bt BT_CLR  &rgb_ug RGB_BRD &studio_unlock  &kp C_MUTE  &kp C_PREV
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │           │           │           │           │
                            &kp N0      &trans      &kp LGUI    &L_CAG_TD         &trans      &kp RSHFT   &trans      &kp N0
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//          	                                      ╰───────────╯                             ╰───────────╯
		>;
	};

        numpad_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤           │   Edit    │           │ContextMenu│           │     │  7 (Home) │     8     │  9 (PgUp) │ De-colour │   Space   ├───────────╮
  &EscL0        &trans      &kp  F2     &kp   F10   &kp K_CMENU &trans            &kp KP_N7   &kp KP_N8   &kp KP_N9   &XL1        &kp SPACE   &kp BACKSPACE
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤ Backspace │
//├─────────────┤           │           │           │           │  General  │     │     4     │     5     │     6     │   Time    │   Date    ├───────────┤
  &mt LSHFT TAB &kp   A     &kp   S     &trans      &trans      &XL4              &kp KP_N4   &kp KP_N5   &kp KP_N6   &XL2        &XL3        &kp KP_NUM
//│   LSHIFT    ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤ Numlk     │
//╰─────────────┤     Z     │     X     │     C     │     V     │           │     │  1 (End)  │     2     │  3 (PgDn) │  :  Ctrl  │  Shift    ├───────────╯
                &kp   Z     &kp   X     &kp   C     &kp   V     &trans            &kp KP_N1   &kp KP_N2   &kp KP_N3 &mt RCTRL COLON &kp RSHIFT 
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │  Enter    │   Tab     │  0 (Ins)  │   . (Del) │
                            &kp N0      &mo WIN     &kp TAB     &none             &kp ENTER   &kp TAB     &kp KP_NUMBER_0 &kp N0
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//                                                  ╰───────────╯                             ╰───────────╯
            >;
        };
	

        LED_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╮
  &none         &none       &none       &none       &none       &none           &rgb_ug ROFF &rgb_ug REFR &rgb_ug RBRD &rgb_ug RSAD &rgb_ug RHUD &rgb_ug RSPD
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//├─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────┤
  &none         &none       &none       &none       &none       &none             &rgb_ug RTOG &rgb_ug REFF &rgb_ug RBRI &rgb_ug RSAI &rgb_ug RHUI &rgb_ug RSPI
//│   LSHIFT    ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//╰─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╯
                &none       &none       &none       &none       &none             &rgb_ug RON &none       &none       &none       &none
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │           │           │           │           │
                            &none       &none       &none       &none             &none       &none       &none       &none
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//                                                  ╰───────────╯                             ╰───────────╯
            >;
        };


        backspace_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╮
  &none         &none       &none       &none       &none       &none             &M_redo     &M_word_bsp &M_word_bsp &kp DEL     &kp BSPC    &none
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//├─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────┤
  &none         &none       &none       &none       &none       &none             &M_undo     &none       &none       &none       &none       &none
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//╰─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╯
                &none       &none       &none       &none       &none             &none       &none       &none       &none       &none
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │           │           │           │           │
                            &none       &none       &none       &none             &none       &none       &none       &none 
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//                                                  ╰───────────╯                             ╰───────────╯
		>;
	};


        minus_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╮
  &none         &none       &none       &none       &none       &none             &none       &none       &none       &none       &none       &none
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//├─────────────┤           │           │           │           │           │     │     ←     │     ↓     │     ↑     │    →      │           ├───────────┤
  &none         &none       &none       &none       &none       &none             &kp LARW    &kp DARW    &kp UARW    &kp RARW    &none       &none
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//╰─────────────┤           │           │           │           │           │     │   HOME    │  PAGE DN  │  PAGE UP  │    END    │           ├───────────╯
                &none       &none       &none       &none       &none             &kp HOME    &kp PG_DN   &kp PG_UP   &kp  END    &none
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │           │           │           │           │
                            &none       &none       &none       &none             &none       &none       &none       &none 
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//                                                  ╰───────────╯                             ╰───────────╯
		>;
	};


        f_slash_layer {
            bindings = <
//              ╭───────────┬───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────┬───────────╮
//╭─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╮
  &none         &none       &none       &none       &none       &none             &none       &none       &none       &none       &none       &none
//│             ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//├─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────┤
  &none         &none       &none       &none       &none       &none             &none       &kp LPAR    &kp DOLLAR  &kp RPAR    &none       &none
//│   LSHIFT    ├───────────┼───────────┼───────────┼───────────┼───────────┤     ├───────────┼───────────┼───────────┼───────────┼───────────┤           │
//╰─────────────┤           │           │           │           │           │     │           │           │           │           │           ├───────────╯
                &none       &none       &none       &none       &none             &kp LBKT    &kp LBRC    &kp BSLH    &kp RBRC    &kp RBKT
//              ╰───────────┴───────────┴───────────┴───────────┴───────────╯     ╰───────────┴───────────┴───────────┴───────────┴───────────╯
//                          ╭───────────┬───────────┬───────────┬───────────╮     ╭───────────┬───────────┬───────────┬───────────╮
//                          │           │           │           │           │     │           │           │           │           │
                            &none       &none       &none       &none             &none       &none       &none       &none
//                          ╰───────────┴───────────┤           ├───────────╯     ╰───────────┤           ├───────────┴───────────╯
//                                                  ╰───────────╯                             ╰───────────╯
		>;
	};
    };
};


