#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <21>;
};


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp N0 &kp N1 &kp N2 &kp N3 &kp N4 &kp N5             &kp N6 &kp N7 &kp N8 &kp N9 &kp A &kp B
    &kp C  &kp D  &kp E  &kp F  &kp G  &kp H              &kp I  &kp J  &kp K  &kp L  &kp M &kp N 
           &kp O  &kp P  &kp Q  &kp R  &kp S              &kp T  &kp U  &kp V  &kp W  &kp X  
                    &rgb_ug RGB_ON &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI 
                    &rgb_ug RGB_ON &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI 
            >;
        };
    };
};
