if SHIELD_HEAWOOD42_LEFT

config ZMK_KEYBOARD_NAME
    default "Heawood42"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HEAWOOD42_LEFT || SHIELD_HEAWOOD42_RIGHT

config ZMK_SPLIT
    default y

endif
